body {
    background-color: #e5f4f9;
}

div {
    text-align: center;
    margin: auto;
}

div.index {
    padding: 10px;
    margin: 10px;
    height: 80px;
}

div.french-desc {
    text-align: left;
}

.title {
    background-color: #193f6e;
    color: white;
}

.french-toast {
    background-color: #3b6ba5;
}

.peanut-butter-oatmeal {
    background-color: #72a5d3;
}

.greek-yogurt-chia-pudding {
    background-color: #97cbdc;
}

.ft-title {
    color: #3b6ba5;
    font-size: 20px;
}