body {
    background-color: #e5f4f9;
}

div {
    text-align: center;
    margin: auto;
}

div.index {
    padding: 10px;
    margin: 10px;
    height: 80px;
}

div.ft-body {
    text-align: left;
    color: #333333;
}

div.gy-body {
    text-align: left;
    color: #333333;
}

div.pb-body {
    text-align: left;
    color: #333333;
}

.title {
    background-color: #193f6e;
    color: white;
}

.french-toast {
    background-color: #3b6ba5;
}

.peanut-butter-oatmeal {
    background-color: #72a5d3;
}

.greek-yogurt-chia-pudding {
    background-color: #97cbdc;
}

.ft-title {
    color: #3b6ba5;
    font-size: 20px;
}

.ft-subtitle {
    color: #3b6ba5;
}

.pb-title {
    color: #72a5d3;
    font-size: 20px;
}

.pb-subtitle {
    color: #72a5d3;
}

.gy-title { 
    color: #97cbdc;
    font-size: 20px;
}

.gy-subtitle {
    color: #97cbdc;
}